<nav class="navbar navbar-expand-lg navbar-light bg-light">
    
    <ul class="navbar-nav mr-auto">        
        
        <a class="nav-link" href="#">Início</a>                
        <a class="nav-link" href="#">Início</a>                
        <a class="nav-link" href="#">Início</a>                
        <a class="nav-link" href="#">Início</a>                
        <a class="nav-link" href="#">Início</a>                   
        
           
        
    </ul>
</nav>       
        
        
</nav>